.completed {
  text-decoration: line-through;
  color: gray;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Card */
.app-container {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(12px);
  width: 380px;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.2);
  text-align: center;
}

/* Title */
.app-container h1 {
  color: #222;
  margin-bottom: 20px;
}

/* Input area */
.input-box {
  display: flex;
  gap: 10px;
}

#Addtask {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 15px;
  box-shadow: 0 0 0 2px transparent;
  transition: 0.3s;
}

#Addtask:focus {
  box-shadow: 0 0 0 2px #7f5cff;
}

/* Add Button (Happy Emotion) */
#addtaskbtn {
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(135deg, #07fff3, #3e12ff);
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

#addtaskbtn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 15px rgba(66, 255, 252, 0.6);
}

/* Task List */
ul {
  list-style: none;
  margin-top: 20px;
}

/* Task Item */
li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  animation: fadeIn 0.4s ease;
}

/* Task Text */
li span {
  cursor: pointer;
  transition: 0.3s;
}

/* Completed Emotion */
.completed {
  color: green;
  text-decoration: line-through;
  opacity: 0.7;
}

 /* Delete Button */
.delt-btn {
  background: #fff200;
  border: none;
  border-radius: 8px;
  padding: 5px 8px;
  cursor: pointer;
  color: white;
  transition: 0.3s;
}

.delt-btn:hover {
  background: #00ff1a;
  transform: scale(1.1);
}
